@import 'color.scss';

#all_collections {
  .collection_block {
    padding: 35px 0 20px;
    overflow: hidden;
    .collection_head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h2 {
        font-size: 22px;
        font-weight: bold;
        color: $title-gray;
        margin-bottom: 24px;
      }
      .see_more {
        a {
          color: $basic-red;
          font-size: 16px;
          svg {
            margin-left: 5px;
          }
        }
      }
    }
    .collection_swiper {
      padding: 0 5px;
    }
    .swiper-container {
      overflow: visible;
    }
  }
}