@import 'color.scss';

#cart {
  .cart_head {
    background: $dark-blue;
    padding: 22px 0;
    .row {
      justify-content: space-between;
      align-items: center;
    }
    h2, button {
      color: #fff;
    }
    h2 {
      font-size: 20px;
      svg {
        color: #fff;
        opacity: .4;
        margin-left: 10px;
        font-size: 18px;
      }
    }
    button {
      background: none;
      border: 1px solid $btn-yellow;
      padding: 3px 0;
      text-align: center;
      width: 122px;
      transition: all .3s;
      &:hover {
        background: $btn-yellow;
      }
    }
  }
  .cart_body {
    min-height: 816px;
    margin-top: 50px;
    .table {
      .content {
        display: flex;
        >div {
          &:not(:last-child) {
            border-right: 4px solid $body-gray;
          }
        }
      }
      .items {
        width: 54%;
      }
      .quantity, .price, .total {
        width: 18%;
      }
      .table_head {
        background: $dark-blue2;
        color: #fff;
        .content {
          >div {
            padding: 3px 0 3px 18px;
            &:last-child {
              text-align: right;
              padding: 3px 18px 3px 0;
            }
          }
        }
      }
      .table_body {
        .content {
          padding: 30px 0;
          border-bottom: 2px solid #ebebeb;
          >div {
            &:not(.items) {
              text-align: center;
            }
          }
          .items {
            display: flex;
            justify-content: space-between;
            .product_image {
              width: 15%;
            }
            h2 {
              width: 80%;
              font-size: 18px;
              line-height: 1.5;
              a {
                color: $title-gray;
              }
            }
          }
          .quantity {
            .block {
              width: 70%;
              margin: 0 auto;
              .control {
                width: 100%;
                display: flex;
                margin-bottom: 15px;
                * { 
                  color: #888;
                  &:focus {
                    outline: none;
                  }
                }
                button {
                  border: 1px solid #ccc;
                  &.disabled {
                    opacity: .4;
                    cursor: auto;
                  }
                  &.dec {
                    border-radius: 4px 0 0 4px;
                    border-right: none;
                  }
                  &.inc {
                    border-radius: 0 4px 4px 0;
                    border-left: none;
                  }
                }
                input {
                  border: 1px solid #ccc;
                  min-width: 0;
                  text-align: center;
                  &:focus {
                    outline: none;
                  }
                }
              }
              .remove {
                border: none;
                background: none;
                color: $basic-red;
                opacity: .7;
                font-size: 13px;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
          .price, .total {
            font-weight: bold;
            color: $dark-blue;
          }
        }
      }
    }
    .row {
      margin: 60px 0;
      >div>div {
        background: #efefef;
        border: solid 1px #d6d6d6;
        padding: 30px 30px;
      }
      .buyers_form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h3 {
          width: 100%;
          font-size: 18px;
          margin-bottom: 20px;
          color: $title-gray;
          padding-left: 10px;
          border-left: 3px solid $dark-blue;
        }
        >div {
          input {
            &:focus {
              outline: none;
            }
          }
          &:not(.pay) {
            flex: 0 0 48%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            label {
              flex: 0 0 25%;
            }
            input {
              flex: 0 0 75%;
            }
          }
          &.pay {
            display: flex;
            >div {
              margin-right: 10px;
            }
          }
        }
        .checkout {
          width: 100%;
          border: 2px solid $btn-yellow;
          background: $btn-yellow;
          color: #fff;
          font-size: 14px;
          margin-top: 20px;
          svg {
            margin-right: 10px;
          }
          &:hover {
            background: #fff;
            color: $btn-yellow;
          }
        }
      }
      .subtotals {
        .upper_block {
          color: $title-gray;
          font-size: 16px;
          border-bottom: 1px solid #bebebe;
          padding-bottom: 10px;
          >div {
            margin-bottom: 10px;
          }
        }
        .lower_block {
          color: $price-red;
          font-size: 24px;
          b{
            color: $title-gray;
          }
          .the_total {
            margin: 15px 0 0;
          }
        }
      }
    }
  }
}