$primary: #4983a7;
$title-gray: #555;
$title-dark-gray: #333;
$light-gray: #bababa;
$bright-gray: #ddd;
$basic-red: #e85650;
$price-red: #be0b0b;
$count-red: #e30000;
$body-gray: #f8f8f8;
$btn-yellow: #efb800;
$dark-blue: #1e4350;