@import 'color.scss';

header {
  background: $primary;
  >div {
    display: flex;
    justify-content: space-between;
    .logo a {
      color: #fff;
      font-weight: bold;
    }
    .cart {
      position: relative;
      a {
        color: #fff;
      }
      span {
        position: absolute;
        top: 9px;
        right: -11px;
        width: 13px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 9px;
        color: #fff;
        background-color: $count-red;
      }
    }
  }
}